#IDEs and text editor config files
.idea
.vscode

# golang output binary directory
bin

# golang vendor (dependencies) directory
vendor

#secrets and keys
secrets

#development scripts
runner.conf

#configuration
.env.test
.env

data

#temp test scripts
scripts/local

# test output
coverage.out