#IDEs and text editor config files
.idea
.vscode

# golang output binary directory
bin

# golang vendor (dependencies) directory
vendor

#secrets and keys
secrets

#development scripts
runner.conf

#configuration
.env.test
.env

data

#temp test scripts
scripts/local

# test output
coverage.out

#web(frontend) files
*.DS_Store
*node_modules
/web/dist

# Log files
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*

# Editor directories and files
*.idea
*.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log