//
// cta.scss
//

.bg-web-desc {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-get-start {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
