#chart1container {
  position: relative;
  width: 35vw;
  box-shadow: 0 0 5px #888;
  border-radius: 10px 10px 0 0;
  background: white;
  margin-left: 40px;
  .chart1Title {
    position: relative;
    height: 50px;
    border-radius: 10px 10px 0 0;
    background-color: #3db3fa;

    h1 {
      color: #ffffff;
      font-size: 14px;
      line-height: 30px;
      letter-spacing: 1.3px;
      text-align: center;
      padding-top: 7px;
      margin: auto;
      text-transform: uppercase;
    }
    .fa-cog {
      position: absolute;
      top: 9px;
      right: 30px;
      position: absolute;
      font-size: 29px;
      color: white;
    }
    .fa-th-large {
      position: absolute;
      top: 10px;
      left: 30px;
      position: absolute;
      font-size: 25px;
      color: white;
    }
  }
  .chart1 {
    position: relative;
    height: 35vh;
    min-height: 270px;
  }
}
