#chart3container {
  border-radius: 10px 10px 5px 5px;
  background: white;
  height: 100%;
  box-shadow: 0 2px 7px #00000025;
  .chart3Title {
    padding: 8px;
    border-radius: 10px 10px 0 0;
    background: #3db3fa;
    display: flex;

    h1 {
      color: #ffffff;
      font-size: 15px;
      letter-spacing: 1.3px;
      margin: auto;
      text-transform: uppercase;
    }
    .fa-cog {
      font-size: 25px;
      margin: auto 15px;
      color: white;
    }
    .fa-th-large {
      font-size: 23px;
      margin: auto 15px;
      color: white;
    }
  }
  .chart3 {
    position: relative;
    height: 85%;
    canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    #chartjs-tooltip {
      opacity: 1;
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      border-radius: 3px;
      -webkit-transition: all 0.1s ease;
      transition: all 0.1s ease;
      pointer-events: none;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      vertical-align: top;
      min-width: 160px;
    }
    .chartjs-tooltip-key {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
    }
  }
}
