#chart1container {
  position: relative;
  border-radius: 10px 10px 5px 5px;
  background: white;
  width: 98%;
  margin: auto;
  box-shadow: 0 2px 7px #00000025;
  .chart1Title {
    padding: 8px;
    border-radius: 10px 10px 0 0;
    background: #3db3fa !important;
    display: flex;

    h1 {
      color: #ffffff;
      font-size: 15px;
      letter-spacing: 1.3px;
      margin: auto;
      text-transform: uppercase;
    }
    .fa-cog {
      font-size: 25px;
      margin: auto 15px;
      color: white;
    }
    .fa-th-large {
      font-size: 23px;
      margin: auto 15px;
      color: white;
    }
  }
  .chart1 {
    position: relative;
    height: 35vh;
    min-height: 270px;
  }
}
