.dashboardWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 210px auto;
      grid-template-columns: 210px auto;
  position: relative;
}

.dashboardWrapper .dashboardSidebar {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1/1;
  position: fixed;
  width: 210px;
  top: 0;
  z-index: 1001;
  height: 100vh;
  color: white;
  background: #17a2b8;
}

.dashboardWrapper .dashboardSidebar h1 {
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 35px;
}

.dashboardWrapper .dashboardSidebar .powered {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks {
  padding: 0;
  position: absolute;
  width: 100%;
  margin-top: 30px !important;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks .router-link-active li {
  background: #88f2fbb0;
  color: white;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks a {
  text-decoration: none !important;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks a .dropdown {
  float: right;
  background: transparent;
  color: white;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks a .dropdown ul {
  -webkit-transform: translate3d(-160px, 32px, 0px) !important;
          transform: translate3d(-160px, 32px, 0px) !important;
  padding: 0;
  width: 209px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks a .dropdown ul::-webkit-scrollbar {
  width: 8px;
  overflow: visible;
  border-radius: 34px;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks a .dropdown ul:hover::-webkit-scrollbar-thumb {
  background: #acacac75;
  overflow: visible;
  border-radius: 34px;
  cursor: default;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks a .dropdown li {
  background: transparent;
  min-width: 198px;
  padding: 0;
  border: none;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks a .dropdown li a {
  padding: 5px 10px;
  font-size: 12px;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks a button {
  padding: 0px;
  width: 49px;
  margin-top: -15px;
  height: 50px;
  background: transparent;
  border-radius: 0;
  color: #ffffff;
  font-size: 25px;
  opacity: 0;
  border: none;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks a button:hover {
  background: #36c5d241;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks a button span {
  vertical-align: top;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks a .show > .dropdown-toggle {
  background-color: #36c5d241 !important;
  border: none;
  opacity: 1;
  border: none;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks li {
  list-style-type: none;
  padding: 15px 0px 15px 20px;
  color: #eeeeece8;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  border-top: 1px solid #17a2b8;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks li:hover {
  color: #ffffff;
  background: #88f2fbb0;
}

.dashboardWrapper .dashboardSidebar .sidebarLinks li:hover button {
  opacity: 1;
  color: white;
}

.dashboardWrapper .rightSide {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 55px auto;
      grid-template-rows: 55px auto;
  position: relative;
}

.dashboardWrapper .rightSide .top-nav {
  -ms-grid-row: 1;
  grid-row: 1;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 55px;
  z-index: 1000;
  -webkit-box-shadow: 2px 0 5px #888;
          box-shadow: 2px 0 5px #888;
  min-height: 55px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboardWrapper .rightSide .top-nav .search {
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

.dashboardWrapper .rightSide .top-nav .search input {
  padding: 5px 0 5px 20px;
  width: 250px;
  border-radius: 7px;
  border: 2px solid #3db3fa;
  font-size: 15px;
  -webkit-text-fill-color: #3db3fa;
}

.dashboardWrapper .rightSide .top-nav .logout {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  margin-left: auto;
}

.dashboardWrapper .rightSide .dashboardBody {
  -ms-grid-row: 2;
  grid-row: 2;
  background: ghostwhite;
  min-height: 91.9vh;
}
/*# sourceMappingURL=dashboardLayout.css.map */