.dashboardWrapper {
  display: grid;
  grid-template-columns: 185px auto;

  .dashboardSidebar {
    grid-column: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    color: white;
    background: #3db3fa;

    h1 {
      text-align: center;
      margin-top: 14px;
      font-family: FThin;
      color: #ffffff;
      font-size: 28px;
      letter-spacing: 3px;
      line-height: 35px;
    }
  }
  #btn {
    background: #50e3c2;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-family: FBold;
    height: 50px;
    position: absolute;
    width: 90%;
    margin-left: 8px;
    border-radius: 10px;
    border: none;
    bottom: 20px;
  }
}
.dashboardBody {
  background: white;
  padding-left: 10px;
}
.sidebarLinks {
  padding: 0;
  position: absolute;
  width: 100%;
  margin-top: 25px !important;
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
    padding: 10px 0px 10px 10px;
    color: white;
    font-family: FThin;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 1.9px;
    color: #ffffff9c;
    &:hover {
      color: #ffffff;
      background: #88f2fbb0;
    }
  }
}
