.dashboardWrapper {
  display: grid;
  grid-template-columns: 210px auto;
  grid-template-rows: 55px auto;
  position: relative;
  background: #f5f5f5;
  .dashboardSidebar {
    grid-column: 1;
    grid-row: 1/1;
    position: fixed;
    width: 210px;
    top: 0;
    height: 100vh;
    color: white;
    background: #3db3fa;

    h1 {
      text-align: center;
      margin-top: 14px;
      color: #ffffff;
      font-size: 35px;
      letter-spacing: 3px;
      line-height: 35px;
    }
  }
  #btn {
    background: #50e3c2;
    color: white;
    font-size: 20px;
    line-height: 30px;
    height: 50px;
    position: absolute;
    width: 90%;
    margin-left: 8px;
    border-radius: 10px;
    border: none;
    bottom: 20px;
  }
}
.dashboardBody {
  grid-row: 2;
  grid-column: 2;
  background: #f5f5f5;
  min-height: 90vh;
}
.sidebarLinks {
  padding: 0;
  position: absolute;
  width: 100%;
  margin-top: 30px !important;
  a {
    text-decoration: none !important;
    .dropdown {
      float: right;
      background: transparent;
      color: white;
      li {
        background: transparent;
        min-width: 200px;
        padding: 0;
        a {
          padding: 10px 15px;
        }
      }
    }
    button {
      padding: 0px;
      width: 49px;
      margin-top: -15px;
      height: 50px;
      background: transparent;
      border-radius: 0;
      font-size: 25px;
      &:hover {
        color: #ffffff;
        background: #36c5d2cf;
      }
      span {
        vertical-align: top;
        margin-top: 4px;
      }
    }
  }
  li {
    list-style-type: none;
    padding: 15px 0px 15px 25px;
    color: #eeeeece8;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    &:hover {
      color: #ffffff;
      background: #88f2fbb0;
    }
  }
}
.top-nav {
  grid-row: 1;
  grid-column: 2/3;
  background: white;
  position: sticky;
  top: 0;
  height: 55px;
  z-index: 999;
  box-shadow: 2px 0 5px #888;
  min-height: 55px;
  width: 100%;
  .dropdown {
    float: left;
    cursor: pointer;
    left: 15px;
    top: 4px;
    button {
      background: transparent;
      border: 2px solid #3db3fa;
      width: 120px;
      text-align: left;
      color: #3db3fa;
      border-radius: 7px;
      font-size: 20px;
      padding: 3px 0 3px 10px;
    }
    i {
      float: right;
      font-size: 45px;
      margin: -1px 0 0 -25px;
      color: #3db3fa;
    }
  }
  .search {
    float: right;
    padding: 6px 30px 0px 0px;

    input {
      padding: 5px 0 5px 20px;
      width: 300px;
      border-radius: 10px;
      border-color: #3db3fa;
      border: 2px solid #3db3fa;
      font-size: 19px;
      -webkit-text-fill-color: #3db3fa;
    }
  }
}
.router-link-active li {
  background: #88f2fbb0;
  color: white;
}
