.admin-wrapper {
  min-height: 100vh;
  .admin-sidebar {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    background-color: #3a82a1 !important;
    transition: all 0.5s;
    &.active {
      margin-left: -200px;
    }
    h1 {
      font-size: 2rem;
      height: 48.5px;
    }
    .sidebar-links {
      a {
        text-decoration: none;
        &.router-link-exact-active.router-link-active {
          li {
            background-color: #49bdd6;
          }
        }
      }
      li {
        list-style: none;
        color: whitesmoke;
        padding: 10px 15px;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
      }
    }
    .powered {
      position: absolute;
      width: inherit;
      bottom: 0;
    }
  }
  .admin-content {
    width: 100%;
    transition: all 0.5s;
    min-width: 500px;
    &.active {
      nav h1 {
        margin-left: 0;
        color: #00000080;
      }
    }
    nav {
      height: 50px;

      h1 {
        font-size: 2em;
        margin-left: -200px;
        color: white;
        transition: all 0.5s;
      }
    }
    .admin-body {
      height: calc(100vh - 50px);
      overflow: auto;
    }
  }
}
