.cells-page,
.sector-page {
  .charts {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(320px, 1fr);
    grid-gap: 1rem;
    height: 100%;

    & > .row {
      max-width: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      height: auto;

      &.has-columns {
        width: 100%;
        height: auto;
        display: grid;
        grid-gap: 0.5rem;
        grid-auto-rows: minmax(320px, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    }
    .chart-container {
      height: 100%;
      background: #f8f9fa;
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
      border-radius: 0 0 3px 3px;
      padding: 0;
      width: 100%;
      .chart-header {
        display: flex;
        justify-content: space-between;
        color: white;
        background: darkcyan;
        height: 40px;
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: 3px 3px 0 0;
        h1 {
          font-size: 100%;
          text-transform: uppercase;
          margin: 0;
          padding: 0 3px;
          letter-spacing: 1px;
          width: 100%;
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .chart-body {
        position: relative;
        padding: 0.5rem 1rem;
        height: calc(100% - 40px);
        & > section {
          position: relative;
        }
        .chart-center-text {
          position: absolute;
          top: 0;
          left: 0;
          height: fit-content;
          width: fit-content;
          margin: auto;
          bottom: 0;
          right: 0;
          font-size: 4rem;
          color: #838386;
        }
        .chart-loader {
          top: 0;
          left: 0;
          height: 100%;
          font-weight: bold;
        }
        .chart-error {
          padding: 4rem;
          top: 0;
          width: 100%;
          left: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          text-align: center;
          vertical-align: middle;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.3rem;
          text-transform: capitalize;
          position: absolute;
        }
      }
    }
  }
}
@media (max-width: 770px) {
  .sector-dashboard {
    .top {
      flex-flow: column;
      height: 100%;
      .column {
        height: 50%;
      }
    }
  }
}
.chart-3 .canvas {
  min-width: 100%;
}
.top .canvas {
  width: calc(50vw - 245px);
  min-width: 100%;
  height: 100%;
}
.active {
  .sector-dashboard {
    min-width: 320px;
    width: 100vw;
  }
  h1 {
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
  }
}
.sector-dashboard {
  width: calc(100vw - 200px);
  height: 100%;
  min-width: 370px;
  overflow: auto;
  transition: width 0.5s;
}
@media only screen and (max-width: 882px) {
  .has-columns {
    grid-row-end: span 2;
  }
}
