.container {
  height: inherit;
  width: 99%;

  .row {
    .column {
      height: 100%;
      padding: 1%;


      .card-body {
        height: 100%;
        background: ghostwhite;
        box-shadow: 3px 5px 10px 1px #d3d3d3ba;
        border-radius: 5px;
        padding: 0;

        .card-header {
          height: fit-content;
          display: flex;
          justify-content: space-between;
          align-content: center;
          color: white;
          background: darkcyan;

          h1 {
            font-size: 15px;
            text-transform: uppercase;
            margin: 0;
          }
        }

        .chart .center-text {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: fit-content;
          height: 40%;
          font-size: 250%;
          font-weight: bold;
          color: #606073;
        }
      }

      &::last-child {
        margin-top: 3%;
      }
    }
  }
}
