.dashboard-container {
  display: grid;
  grid-template-rows: 50px 500px auto;
  grid-template-columns: repeat(580px);

  .top-nav {
    grid-row: 1;
    grid-column: 1/3;
    border: 1px solid black;
    min-height: 50px;
  }

  .chart-1 {
    grid-row: 2;
    grid-column: 1;
    min-height: 30px;
  }
  .chart-2 {
    grid-row: 2;
    grid-column: 2;
    min-height: 30px;
  }
  .chart-3 {
    grid-row: 3;
    grid-column: 1/3;
    min-height: 30px;
  }
}
