.loginPage {
  position: relative;
  height: 100vh;
  color: #0000007a;
}


.loginTitle #paypack {
  font-size: 50px;
  color: #3a82a1;
  line-height: 0%;
  letter-spacing: 5px;
}



form input {
  border: 1px solid #bdbdbd !important;
  background: transparent !important;

}

.loginBtn,.loginBtn:disabled,.loginBtn:hover {
  width: 100%;
  user-select: none;
  color: white;
  background: #3a82a1;
}


#error-message .modal-title {
  width: 95%;
  float: left;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
}

#error-message .modal-header {
  padding: 10px 15px;
  border-bottom: 1px solid #cdd7dd;
}

#error-message .modal-body {
  position: relative;
  padding: 10px;
}

#error-message .modal-body h3 {
  margin: 5px !important;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  line-height: 1.5;
}

#error-message .modal-body button {
  display: block;
  width: 15%;
  margin-left: auto;
  background: #3a82a1;
  padding: 3px 10px !important;
  color: white;
}
