body {
  background: #f9f9f9;
  font-family: FRegular;
}
.loginPage {
  display: grid;
  position: relative;
  grid-template-rows: 136px auto;
  width: 1280px;
  height: 96vh;
}
.loginTitle {
  grid-row: 1;
  position: absolute;
  left: 405px;
  top: 41px;
  width: 480px;
  height: 145px;
  text-align: center;
  color: #706c6c;
  font-family: FThin;
  font-size: 1.7rem;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 20px;
}
.loginTitle #paypack {
  font-size: 68px;
  font-weight: bold;
  font-family: FBold;
  letter-spacing: 1px;
  line-height: 75px;
  color: #3db3fa;
}
.loginTitle #easy {
  font-size: 25px;
  letter-spacing: 0.84px;
  line-height: 25px;
  font-weight: lighter;
  font-family: FThin;
  color: #706c6c;
  top: 5px;
  position: relative;
}
.loginForm {
  grid-row: 2;

  position: absolute;
  left: 421px;
  top: 131px;
  height: 200px;
  width: 463px;
}
.loginUsername input {
  padding: 15px;
  width: 90%;
  border: 1px solid #bdbdbd;
  background: transparent;
  opacity: 0.74;
  border-radius: 15px;
  margin: 10px 1%;
  font-family: FRegular;
  font-size: 18px;
}
.loginPassword input {
  padding: 15px;
  width: 90%;
  border: 1px solid #bdbdbd;
  background: transparent;
  opacity: 0.74;
  margin: 10px 1%;
  border-radius: 15px;
  font-family: FRegular;
  font-size: 18px;
}
.loginBtn a button {
  padding: 10px;
  margin: 10px 1%;
  width: 97%;
  border-radius: 17px;
  border: none;
  background-color: #3db3fa;
  cursor: pointer;
  font-family: FThin;
  text-decoration: none;
  color: white;
  font-size: 30px;
  letter-spacing: 1.2px;
  line-height: 36px;
}
.loginBtn #forgot {
  color: #706c6c;
  letter-spacing: 0.8px;
  line-height: 24px;
  font-size: 20px;
  float: right;
  margin-right: 15px;
}
.loginBtn #forgot a {
  text-decoration: none;
  color: #3db3fa;
  font-size: 24px;
  letter-spacing: 0.96px;
  line-height: 29px;
}
