.registerPage {
  position: relative;
  width: 50vw;
  margin: auto;
  height: 100vh;
  color: #0000007a;
}
.registerTitle {
  position: relative;
  margin: auto;
  top: 70px;
  width: 290px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.8px;
  font-size: 15.4px;
}
.registerTitle p {
  margin: 0;
  text-align: left;
  left: 25px;
  position: relative;
}
.registerTitle #paypack {
  font-size: 65px;
  line-height: 10px;
  color: #3db3fa;
}
.registerTitle #easy {
  top: 8px;
  text-align: center;
  position: relative;
}
.registerForm {
  position: relative;
  margin: auto;
  top: 35%;
  width: 50%;
}
.registerForm fieldset {
  margin-bottom: 0;
}
.registerUsername input {
  padding: 10px 0 10px 15px;
  width: 100%;
  border: 1px solid #bdbdbd;
  background: transparent;
  border-radius: 10px;
  margin: 8px auto;
  font-size: 15px;
  height: 40px;
}
.registerPassword input {
  padding: 10px 0 10px 15px;
  width: 100%;
  border: 1px solid #bdbdbd;
  background: transparent;
  border-radius: 10px;
  margin: 8px auto;
  font-size: 15px;
  height: 40px;
}
.registerBtn a button {
  padding: 5px;
  margin: 9px auto;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #3db3fa;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 35px;
}
.registerBtn .loading {
  position: relative;
  right: 20%;
  top: 5px;
  float: right;
}
.registerBtn #forgot {
  letter-spacing: 0.8px;
  font-size: 15px;
  float: right;
}
.registerBtn #forgot a {
  text-decoration: none;
  color: #3db3fa;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 20px;
}
