.transactions-container {
  display: grid;
  grid-template-rows: 200px auto;
  align-self: end;

  .transaction-title {
    grid-row: 1;
    display: grid;
    grid-template-rows: auto 60px auto;
    background: #3db3fa;
    position: relative;
    right: 0;

    .year-selector {
      color: white;
      grid-row: 1;
      font-size: 24px;
      right: 303px;
      top: 40px;
      position: absolute;
    }
    .paragraph {
      right: 12px;
      grid-row: 2;
      position: absolute;
      color: white;
      font-size: 56px;
    }
    .bottom-text {
      grid-row: 3;
      display: grid;
      grid-template-columns: auto auto auto;
      width: 300px;
      position: absolute;
      right: 70px;
      color: white;
      height: 50px;
      font-family: FRegular;
      font-weight: bold;
      .contributer1 {
        grid-column: 1;
        width: 80px;
      }
      .contributer2 {
        width: 80px;
        grid-column: 2;
      }
      .contributer3 {
        width: 80px;
        grid-column: 3;
      }
      .separator {
        float: left;
        font-size: 50px;
      }
      .text {
        position: absolute;
        top: 13px;
        padding-left: 5px;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 22px;
      }
      .small {
        font-size: 14px;
      }
    }
  }
  .transaction-body {
    grid-row: 2;
    min-height: 100vh;
  }
}
