.transactions-container {
  display: grid;
  grid-template-rows: 200px auto;
  align-self: end;
  .transaction-title {
    grid-row: 1;
    display: grid;
    grid-template-rows: auto auto auto;
    background: #3db3fa;
    position: relative;
    right: 0;

    .year-selector {
      color: white;
      grid-row: 1;
      font-size: 39px;
      right: 260px;
      top: 15px;
      position: absolute;
    }
    .paragraph {
      right: 12px;
      grid-row: 2;
      position: absolute;
      color: white;
      font-size: 56px;
    }
    .bottom-text {
      grid-row: 3;
      display: grid;
      grid-template-columns: auto auto auto;
      width: 300px;
      position: absolute;
      right: 0;
      height: 50px;
      .contributer1 {
        grid-column: 1;
      }
      .contributer2 {
        grid-column: 2;
      }
      .contributer3 {
        grid-column: 3;
      }
    }
  }
  .transaction-body {
    grid-row: 2;
    border: 1px solid;
    min-height: 100vh;
  }
}
