.village-wrapper .container {
  width: 80vw;
  padding: 15px 15px 0;
}

.village-wrapper .container .card {
  border: 1px solid lightgray;
  border-top: none;
  margin-bottom: 20px;
  background: white;
  -webkit-box-shadow: 0px 5px 10px #e0d5d5;
          box-shadow: 0px 5px 10px #e0d5d5;
}

.village-wrapper .container .card .card-body > section {
  border: 1px solid #cec4c4;
  padding: 5px 10px;
  width: 49%;
  margin: 0;
  position: relative;
  margin-bottom: 10px;
  display: block;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.village-wrapper .container .card .card-body > section:nth-child(even) {
  float: right;
}

.village-wrapper .container .card .card-body > section:nth-child(odd) {
  float: left;
}

.village-wrapper .container .card .card-body > section .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  padding: 0;
  background: inherit;
}

.village-wrapper .container .card .card-body > section .card-header p:last-child {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto;
}

.village-wrapper .container .card .card-body > section .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 0;
  background: inherit;
}

.village-wrapper .container .card .card-body > section .card-footer article {
  width: 100%;
  padding-right: 10px;
  display: block;
  font-size: 14px;
}

.village-wrapper .container .card .card-body > section .card-footer article .progress {
  width: 100%;
  height: 7px;
}

.village-wrapper .container .card .card-body > section .card-footer i {
  margin-left: auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.village-wrapper .container .card .card-body > section .more-data {
  position: absolute;
  background: white;
  z-index: 100;
  width: 100.5%;
  margin: 6px -11px;
  border: 1px solid;
  border-top: none;
  border-color: inherit;
  padding: 10px 10px 0;
}

.village-wrapper .container .card .card-body > section .more-data article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 14px;
}

.village-wrapper .container .card .card-body > section .more-data article p {
  position: absolute;
  margin-left: 20%;
}

.village-wrapper .container .error {
  border: 1px solid lightgray;
  border-top: none;
  margin-bottom: 20px;
  background: white;
  -webkit-box-shadow: 0px 5px 10px #e0d5d5;
          box-shadow: 0px 5px 10px #e0d5d5;
  padding-top: 1px;
}

.village-wrapper .container .error article {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto;
}

.village-wrapper .container .error article i {
  font-size: 70px;
  color: #e6d828;
}

.village-wrapper .container .error article label {
  margin: 15px;
  display: block;
}

.village-wrapper .container-title {
  padding: 10px;
  border-radius: 10px 10px 0 0;
  background-color: darkcyan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.village-wrapper .container-title h1 {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1.3px;
  margin: auto;
  text-transform: uppercase;
}

.village-wrapper .container-title .fa-cog {
  font-size: 25px;
  margin: auto 15px;
  color: white;
}

.village-wrapper .container-title .fa-th-large {
  font-size: 23px;
  margin: auto 15px;
  color: white;
}
/*# sourceMappingURL=village.css.map */