.village-wrapper {
  .container {
    width: 80vw;
    padding: 15px 15px 0;

    .card {
      border: 1px solid lightgray;
      border-top: none;
      margin-bottom: 20px;
    }

    .card > .card-body {
      background: white;
      box-shadow: 0px 5px 10px #e0d5d5;
      padding: 20px;
      columns: 25em;

      .card-body {
        margin: 5px;
        width: 100%;
        display: inline-block;
      }

      .card-body .card-body {
        border: 1px solid #cec4c4;
        border-radius: 4px;
        padding: 5px 10px;
        width: 100%;
        min-width: 280px;

        .card-header {
          display: flex;
          text-transform: capitalize;

          p:last-child {
            margin-left: auto;
            width: 60px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .card-footer {
        display: block;

        .card-group {
          display: flex;
          padding-bottom: 3px;

          article {
            width: 100%;

            .progress {
              margin-left: 0;
              margin-bottom: 0;
              height: 5px;
              width: 97%;
            }
          }
          .fa-ellipsis-v {
            margin-top: auto;
          }
        }
      }
    }
  }
  .container-title {
    padding: 8px;
    border-radius: 10px 10px 0 0;
    background-color: #3db3fa;
    display: flex;

    h1 {
      color: #ffffff;
      font-size: 14px;
      letter-spacing: 1.3px;
      margin: auto;
      text-transform: uppercase;
    }
    .fa-cog {
      font-size: 25px;
      margin: auto 15px;
      color: white;
    }
    .fa-th-large {
      font-size: 23px;
      margin: auto 15px;
      color: white;
    }
  }
}
