.village-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40vw 40vw;
      grid-template-columns: 40vw 40vw;
  margin-left: 25px;
  margin-top: 20px;
}

.village-wrapper .container-body {
  min-height: 75vh;
  background: white;
  border: 1px solid #ebebeb;
  border-radius: 0 0 10px 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

.village-wrapper .container1 {
  -ms-grid-column: 1;
  grid-column: 1;
  width: 97%;
  -webkit-box-shadow: 0 2px 10px #888;
          box-shadow: 0 2px 10px #888;
  border-radius: 10px;
}

.village-wrapper .container2 {
  -ms-grid-column: 2;
  grid-column: 2;
  width: 97%;
  -webkit-box-shadow: 0 2px 7px #888;
          box-shadow: 0 2px 7px #888;
  border-radius: 10px;
}

.village-wrapper .container-title {
  position: relative;
  height: 60px;
  color: white;
  border-radius: 10px 7px 0 0;
  background-color: #3db3fa;
}

.village-wrapper .container-title h1 {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 3.3px;
  text-align: center;
  padding-top: 15.5px;
  margin: auto;
  text-transform: uppercase;
}

.village-wrapper .container-title .fa-cog {
  position: absolute;
  top: 16px;
  right: 30px;
  position: absolute;
  font-size: 29px;
  color: white;
}

.village-wrapper .container-title .fa-th-large {
  position: absolute;
  top: 18px;
  left: 30px;
  position: absolute;
  font-size: 25px;
  color: white;
}

.village-wrapper .house {
  border: 1px solid #ebebeb;
  height: 85px;
  width: 95%;
  margin-left: 12px;
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  padding: 6px;
  -ms-grid-rows: 40px 50px;
      grid-template-rows: 40px 50px;
  -webkit-box-shadow: 0 2px 3px #888;
          box-shadow: 0 2px 3px #888;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

.village-wrapper .house:hover {
  background: #e8e8e89c;
}

.village-wrapper .house .historic {
  width: 70%;
  height: 100px;
  position: relative;
  background: aquamarine;
  top: -15px;
  left: -7px;
  display: none;
}

.village-wrapper .house .top-detail {
  -ms-grid-row: 1;
  grid-row: 1;
  font-size: 15px;
  letter-spacing: 1px;
}

.village-wrapper .house .top-detail span {
  float: right;
}

.village-wrapper .house .bottom-detail {
  -ms-grid-row: 2;
  grid-row: 2;
  margin-top: 5px;
}

.village-wrapper .house .bottom-detail .completed {
  float: right;
  padding-right: 25px;
  color: green;
  visibility: 1;
  margin-top: -5px;
  padding-bottom: 5px;
}

.village-wrapper .house .bottom-detail .details {
  float: left;
  color: #f4b833;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 2px;
  margin-left: 1px;
}

.village-wrapper .house .bottom-detail #progress-container {
  float: left;
  width: 96%;
  border-radius: 30px;
  background: #ebebeb;
}

.village-wrapper .house .bottom-detail #progress-container #progress-bar {
  width: 0%;
  border-radius: 30px;
  height: 5px;
}

.village-wrapper .house .bottom-detail .fa-ellipsis-v {
  float: right;
  font-size: 20px;
  margin-top: -12px;
}

.village-wrapper .card {
  width: 96%;
  margin-left: 10px;
}

.village-wrapper .card .closeBtn {
  border-top: none;
  padding-bottom: 20px;
}

.village-wrapper .card .closeBtn i {
  background: grey;
  color: white;
  border-radius: 20px;
  font-size: 25px;
  float: right;
  margin: -15px -5px 0 0;
}
/*# sourceMappingURL=village.css.map */